<div class="container-fluid h-100 d-flex flex-column">
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="#"><i class="fa fa-music"></i> My Music App</a>
    </div>
  
    <div  id="navbarSupportedContent">
      
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name="searchCriteria" [(ngModel)]="searchCriteria" (keyup.enter)="search($event)" type="search" placeholder="Search musics" aria-label="Search">
        </form>
    </div>
    <div class="dropdown" ngbDropdown >
        <i class="fa fa-user"></i> User:
        <button class="btn btn-default dropdown-toggle" ngbDropdownToggle id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user}}
        </button>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu  aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="open(content)">Change user</a>
        </div>
      </div>
  </nav>

  
  <div class="spinner" *ngIf="httpActivity">
    <div class="loader"></div>
  </div>
  <div class="outlet-wrapper h-100 d-flex">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #content let-modal let-d="dismiss" let-c="close">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Available users</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="max-height: 350px; overflow: auto;">
      <table>
        <tbody>
          <tr  *ngFor="let avalUser of users" (click)="changeUser(avalUser); d('Cross click')">
            <td>
                {{avalUser}}
            </td>
            <td >
              <i class="fa fa-check" *ngIf="avalUser === user"></i>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="c('Save click')">OK</button>
    </div>
  </ng-template>