.edit-playlist{
    flex: 1 1 auto;
}

body{
    background-image: linear-gradient(#3f1068, #290a44);
}

.bg-primary{
    background-color: #3f1068 !important;
}

i.fa{
    padding-left: 0.25rem;
    padding-right: 0.5rem;
}