.card{
    background-color: rgba(0, 0, 0, 0.3);

    .table, i{
        color: white;
    }

    h5{
        color: #9271c4;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 0.75rem;
    }
}